@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster+Two:ital@1&display=swap');

:root {
    --primary-color: #CAD2C5;
    --secondary-color: #84A98C;
    --accent1-color: #354F52;
    --accent2-color: #52796F;

    --heading-font: 'Kaushan Script', cursive;
    --paragraph-font: 'Lobster Two', cursive;

    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--accent1-color);
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--secondary-color);
}
h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
header img{
    width: 100px;
}
main img{
    width: 300px;
}
footer img{
    width: 80px;
    padding: 10px;
    float: center;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
