@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster+Two:ital@1&display=swap');

:root {
    --primary-color: #CAD2C5;
    --secondary-color: #84A98C;
    --accent1-color: #354F52;
    --accent2-color: #52796F;

    --heading-font: 'Kaushan Script', cursive;
    --paragraph-font: 'Lobster Two', cursive;

    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--accent1-color);
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--secondary-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.grid-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: var(--accent1-color);
    padding: 20px;
}

.logo {
    width: 100px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

main img {
    width: 300px;
}

footer img {
    width: 80px;
    padding: 10px;
    float: right;
}

.Hero {
    position: relative;
}

.Hero img {
    display: block;
    width: 100%;
    height: auto;
}

.Hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* To place it on top of the image */
}

.Hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.Hero article img {
    float: right;
    margin-left: 10px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.history {
    padding: 25px;
}

.adventures {
    padding: 25px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    list-style: none;
}

.adventure-grid figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.adventure-grid img {
    max-width: 100%;
}

.adventure-grid figcaption {
    margin-top: 10px;
}