nav {
    background-color:steelblue ;
    padding: 10px;
    
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
    
}
main{
    max-width: 840px;
}
aside{
    width:auto ;
    margin: 1 rem;
    border: 1px;
    padding: 1rem;
    background-color: aqua;
    color: rgb(70, 57, 44);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
    border: 5px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
main img{
    width: 150px;
    height: auto;
}
p {padding: 0;}
footer{
    margin-top: 1 em;
    border-top: 1px solid #002;
    text-align: center;
}